
blockquote p {
    font-size: 14px !important;
}

blockquote {
    margin: 0 0 4px !important;
}

code {
    color: #49759c !important;
    background-color: #f3f5f9 !important;
}

.alert-info {
    background-color: #adb8cb !important;
    border-color: #adb8cb !important;
    color: #2c3e50 !important;
}

.function dt {
    padding-top: 150px;
    margin-top: -150px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

div.output_area pre {
    font-size: 10px;
    background-color: #ddd;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.highlight-python highlight{
    font-size: 12px;
}

/* For In/Out blocks for embedded tests */
div.input_area {
    border-radius: 1px;
    font-size: 12px;
}

div.input_area pre {
    background-color: white;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

div.output_area pre {
    background-color: #ddd;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

div.rosetta_left {
    background-color: rgba(255, 238, 238, 1.0);
    border-radius: 2px;
    display: table-cell;
    width: 50%;
    border-top: 2px solid #c9a;
    border-bottom: 2px solid #c9a;
    border-left: 1px solid #c9a;
    border-right: 2px solid #c9a;
  }

div.rosetta_right {
    background-color: rgba(238, 255, 238, 1.0);
    border-radius: 2px;
    display: table-cell;
    width: 50%;
    border-top: 2px solid #ac9;
    border-bottom: 2px solid #ac9;
    border-left: 1px solid #ac9;
    border-right: 2px solid #ac9;
}

div.rosetta_left pre {
    background-color: rgba(255, 238, 238, 1.0);
    border: none;
}

div.rosetta_right pre {
    background-color: rgba(238, 255, 238, 1.0);
    border: none;
}

div.rosetta_outer {
    display: table;
    width: 100%
}

div.highlight-python {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Fix the Parameter block width problem */
table.field-list th {
    width: 80px;
  }

.highlight-python {
    font-size: 12px;
}
