[report]
omit =
    *run_vlm.py
    *run_fea.py
    *plot_all.py
    *read_all.py
    *plot_utils.py
    gs_newton.py
    test_suite.py
    view_geometry.py
    analysis.py
    CRM_definitions.py
    *docs*
